
    <div class="row mainRow">
        <div class="col-9 leftCol">
            <div class="row align-items-start reviewHolder">
                {{#each data}}
                <div class="col-3">
                    <div class="card reviewCard" data-id = "{{_id}}" style="width: 255px">
                        <img class="card-img-top" src="{{bookCover}}" width="140px"
                            height="220px" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">{{book_title}} by {{author}} </h6>
                            <p class="card-text">{{blurb}}</p>
                                <a href="{{review_url}}" class="btn btn-success btn-sm" target="_blank"
                                >Read review</a>
                                {{!-- <a href="#" class="card-link">Add comment</a> --}}
                                <button type="button" data-id = "{{_id}}" class="btn btn-success btn-sm add-comment">Add comment</button>
                            
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="col-3 rightCol">
            <div id = "bookName"></div>
            <form id= "comment-form" class = "hidden">
                <div class="form-group">
                    <label for="commenter">Name</label>
                    <input type="text" class="form-control" id="commenter" placeholder="What should we call you?">
                </div>


                <div class="form-group">
                    <label for="comment-body">What are your thoughts about this review?</label>
                    <textarea class="form-control" id="comment-body" rows="12"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary btn-block mb-2" id="save-comment">Save comment</button>
            </form>

            <div id ="commentsHolder">
              
	        	{{#each comment}}
               
                <div class = "card commentCard">
                    <div class='card-header'>{{commenter}}</div>
                        <div class="card-body">
                            <p>{{body}}</p>
                            <button data-id = "{{_id}}" type="submit" class="btn btn-danger btn-sm delete-comment">Delete</button>
                    </div>
                </div>
                {{/each}}
            </div>

                {{!-- <div class = "card commentCard">
                    <div class="card-header">Comment 2</div>
                    <div class="card-body"><p>This is where the body of a comment will go.</p></div>
                </div>

                <div class = "card commentCard">
                    <div class="card-header">Comment 3</div>
                    <div class="card-body"><p>This is where the body of a comment will go.</p></div>
                </div> --}}
                
            </div>
        </div>
        </div>
        

    </div>

   
</div>